body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

.item-a { grid-area: header;
    padding: 25px;
    background: #1B9CFC;
    color: white;
    font-size: 30px;
}
.item-b { grid-area: main;
    background: #cfd7dd;
    color: #161616;
    font-size: 30px;
    position: center;

}
.img_sign {
    border-radius: 50%;
}
.imgcontainer {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background: #1B9CFC;
    color: white;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
.containerForm {
    margin-bottom: 5em;
    padding: 100px;
}

.item-c { grid-area: form; }
.item-d { grid-area: footer;
    padding: 15px;
    background: #1B9CFC;
    color: white;
    font-size: 30px;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "form form form form"
        "footer footer footer footer";
}


/*
    css for listAd
*/

.topnav a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #dddddd;
    color: black;
}
.topnav a.active {
    background-color: #0791f8;
    color: white;
}

.topnav .icon {
    display: none;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    margin-top: 25px;
    margin-bottom: 100px;
}
.card {
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    border-style: hidden;
}
.data{
    font-weight: bold;
    padding-top: 2px;
    margin-left: 10px;
}
.price {
    color: grey;
    font-size: 22px;
}
.imgList {
    width: 200px;
    font-weight: 600;
}
.details {
    display: flex;
    justify-content: space-between;

}




